.grid {
    display: grid;
    grid-template-columns: 8% 8% 8% 8% 8%;
    grid-column-gap: 10px;
    grid-row-gap: 100px;
    justify-content: center;
}

.box {
    border-style: solid;
    border-radius: 10px;
    position: relative;
    top: 50%;
    user-select: none;
}

.separator {
    padding: 50px;
}